<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>JSON API</h2>

<ul>
  <li><a href="/meals-json">GET meals from meals.json</a></li>
</ul>

<h2>DB API</h2>
<ol>
  <li>create database
    <strong>'meals'</strong>
    using
    <a href="http://localhost/phpmyadmin/" target="_blank">http://localhost/phpmyadmin</a>
  </li>
  <li><a href="/meals/install">create MySQL MEALS TABLE</a></li>
  <li><a href="/meals">GET MEALS from MySQL</a></li>
</ol>